:root{
    --title-size: 3rem;
    --title-color:#5bfd5b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    height: 100%;
    margin: 3px;
    overflow-x: hidden;
    background-color: black;
    border: 1px solid #00ff00;
    box-shadow: 0 0 3px #00ff00, 0 0 3px #00ff00, 0 0 3px #00ff00, 0 0 3px #00ff00; /* Aplicamos varias sombras con diferentes tamaños y colores */
    height: 100%;

    
}

.coin {
    width: 50px;
    height: 50px;
    background-image: url('/img/btc.png'); /* Reemplaza con la URL de tu imagen de moneda */
    background-size: cover;
    position: absolute;
    animation: none; /* Desactivamos la animación CSS */
}


nav ul{
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul li {
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    
}



.home h1{
    font-size: var(--title-size);
    color: white;
    text-align: center;
    margin-bottom: 4%;
    margin-top: 7%;

}

.span-color{
    color: var(--title-color);
}

.home h3{
    font-size: 2.5rem;
    color: var(--title-color);
        z-index: 5;

}

.home .wrap-container{
    display: flex;
    justify-content: center;
    align-items: center;
        z-index: 5;

}

.home .wrap-container .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent; /* Agregamos un borde transparente */
    border-radius: 5px; /* Puedes ajustar esto según tus preferencias */
    box-shadow: 0 0 3px #00ff00, 0 0 3px #00ff00, 0 0 3px #00ff00, 0 0 3px #00ff00; /* Aplicamos varias sombras con diferentes tamaños y colores */
    height: 200px;
    width: 400px;
    color: aliceblue;
    margin: 0px;
}

.info {
    height: 100vh;
    width: 90%;
    margin-top: 7%;
    display: flex; /* Cambio: Usamos flexbox para colocar .info-container y .info-img-container en línea */
    margin: auto;
}

.info .two-columns {
    display: flex;
    flex: 1; /* Cambio: Hacemos que ambos divs ocupen la misma cantidad de espacio */
}

.info h2{
    font-size: var(--title-size);
    text-align: center;
}

.info p{
    text-align: center;
    font-size: 1.5rem;
}

.info-container {
    color: aliceblue;
    flex: 1; /* Cambio: Hacemos que .info-container ocupe la mitad del espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-img-container {
    flex: 1; /* Cambio: Hacemos que .info-img-container ocupe la otra mitad del espacio disponible */
    height: 100%;
    position: relative; /* Cambio: Necesario para posicionar imágenes de manera absoluta */
}

.info-img-container img {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 50%;
    z-index: 0;
    transform: translate(-50%, -50%); /* Cambio: Centramos las imágenes en .info-img-container */
    border: 2px solid transparent; /* Agregamos un borde transparente */
    border-radius: 5px; /* Puedes ajustar esto según tus preferencias */
    box-shadow: 0 0 3px #00ff00, 0 0 3px #00ff00, 0 0 3px #00ff00, 0 0 3px #00ff00; /* Aplicamos varias sombras con diferentes tamaños y colores */
}

.info-img-container .info-img-1 {
    left: 65%;
    top: 16%;
    transform: rotate(15deg);
    z-index: 1; /* Cambio: Para superponer esta imagen sobre las otras */
}

.info-img-container .info-img-2 {
    width: 300px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Centramos la imagen grande */
    box-shadow: 0px 1px 5px 9px rgba(0,255,0,0.75);
    -webkit-box-shadow: 0px 1px 40px 9px rgba(0,255,0,0.75);
    -moz-box-shadow: 0px 1px 85px 9px rgba(0,255,0,0.75);    
}

.info-img-container .info-img-3 {
    left: 13%;
    top: 60%;
    transform: rotate(15deg);
    z-index: 1; /* Cambio: Para superponer esta imagen sobre las otras */
}

.neon-border {
    border: 2px solid transparent; /* Agregamos un borde transparente */
    border-radius: 5px; /* Puedes ajustar esto según tus preferencias */
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00; /* Aplicamos varias sombras con diferentes tamaños y colores */
    animation: neon 1.5s infinite alternate; /* Animamos el efecto */
  }



  .galery h1{
    font-size: var(--title-size);
    color: white;
    text-align: center;
    margin-top: 7%;

  }

  .galery .wrap-galery
  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 9rem;
    margin-top: 7%;
  }
  .galery .wrap-galery img{
    width: 20%;
    height: auto;
    border-radius: 50%;
  }
  
@media screen and (max-width:768px) {

    nav ul{
        background-color: #06b906;
        width: 100%;
        height: 30px;
    }
    nav ul li{
        display: none;
    }

    .wrap-container{
        display: flex;
        flex-wrap: wrap;
    }

    .info{
        margin-top: 18%;
    }

    .home .wrap-container .container{
        margin: 15px;
    }

    .two-columns{
        display: flex;
        flex-wrap: wrap;
    }

    .info-img-container img{
        position: static;
        transform: rotate(0deg) !important;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
        margin-top: 20%;
    
    }

    .galery{
        margin-top: 500px;
      }
}
